<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	
    	<!-- SEO -->
    	
        <title>TTYG &mdash; Talk To Your Grid</title>
        <meta name="description" content="A smart SCSS grid mixin that understands human language">
        <meta name="keywords" content="sass, scss, grid, mixin, human, language, speak, talk, css, style, grid, row, column, stylesheet, dry">
        <meta name="author" content="Florian Vanthuyne">

        <!-- Spiders must use meta description -->

        <meta name="robots" content="noodp, noydir">

        <!-- No Google Translate toolbar -->

        <meta name="google" content="notranslate">
        
        <!-- Viewport and mobile -->
        
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, minimal-ui">
        <meta name="HandheldFriendly" content="true">
        <meta name="MobileOptimized" content="320">
        <meta http-equiv="cleartype" content="on">
        
        <!-- inject:css --><!-- endinject -->

        <!--[if lt IE 9]><script src="assets/js/ie-head.min.js"></script><![endif]-->
	</head>  
	<body>